*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: beige;
    font-size: 1.2rem;
    font-weight: 500;
}
.right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content:space-between; */
}
.one{
    padding: 10px;
}
.home{
    padding:10px;
}